In [1]:
import pandas as pd

***Đọc dữ liệu***

In [12]:
shipper = pd.read_csv("shipper_info_clean.csv")
order = pd.read_csv("order_info_clean.csv")
rating = pd.read_csv("customer_rating_clean.csv")

***Thời gian trung bình theo shipper***

In [5]:
avg_time_shipper = (
    order
    .groupby("shipper_id")["delivery_time_min"]
    .mean()
    .reset_index(name="avg_delivery_time")
)

avg_time_shipper

   shipper_id  avg_delivery_time
0        S104          24.281538
1        S106          31.661795
2        S114          32.500000
3       S100           42.500000
4        S101          32.500000
5        S102          25.000000
6        S103          33.750000
7        S105          18.735385
8        S107          17.492692
9       S108           24.995128
10      S109           15.823590
11      S110           42.500000
12       S111           4.970769
13      S112           42.500000
14      S113            4.970769
15      S115           18.982462
16       S116          30.710110
17      S117           30.000000
18      S118           23.742692
19      S119           26.994154

***Quãng đường trung bình theo từng khu vực***

In [13]:
order_shipper = order.merge(
    shipper[["shipper_id", "region"]],
    on="shipper_id",
    how="left"
)

avg_distance_region = (
    order_shipper
    .groupby("region")["distance_km"]
    .mean()
    .reset_index(name="avg_distance_km")
)

avg_distance_region

  region  avg_distance_km
0    Bắc         5.271429
1    Nam         4.100000
2  Trung         4.466667

***Xác định shipper giao hàng nhanh nhất***

In [7]:
fastest_shipper = avg_time_shipper.sort_values(
    by="avg_delivery_time"
).head(1)

fastest_shipper

   shipper_id  avg_delivery_time
12       S111           4.970769

***Phân tích mối liên hệ giữa rating và delivery_time***

In [14]:
order_rating = order.merge(
    rating,
    on="order_id",
    how="left"
)
rating_vs_time = (
    order_rating
    .groupby("rating")["delivery_time_min"]
    .mean()
    .reset_index(name="avg_delivery_time")
)

rating_vs_time

   rating  avg_delivery_time
0     1.0          25.994154
1     2.0          14.360385
2     3.0          26.814196
3     4.0          33.636364
4     5.0          24.439573

***Tìm nhóm shipper có hiệu suất thấp***

In [9]:
overall_avg_time = order["delivery_time_min"].mean()
overall_avg_time
low_performance_shipper = avg_time_shipper[
    avg_time_shipper["avg_delivery_time"] > overall_avg_time
]

low_performance_shipper

   shipper_id  avg_delivery_time
1        S106          31.661795
2        S114          32.500000
3       S100           42.500000
4        S101          32.500000
6        S103          33.750000
11      S110           42.500000
13      S112           42.500000
16       S116          30.710110
17      S117           30.000000
19      S119           26.994154

***Xuất ra kết quả***

In [15]:
avg_time_shipper.to_csv("avg_delivery_time_by_shipper.csv", index=False)
avg_distance_region.to_csv("avg_distance_by_region.csv", index=False)
low_performance_shipper.to_csv("low_performance_shipper.csv", index=False)

In [11]:
print(shipper.columns)

Index(['order_id', 'rating'], dtype='object')